.fixed-addon {
  width: 100px;
  text-align: center;
}

 .input-group-text {
  width: 50px;
}

.scroll-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  max-height: 500px;
/*   max-height: 500px;
  max-width: 780px;
  min-width: 700px; */
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #ccc;
}
.item {
  background: #eee;
  padding: 1px;
  border-radius: 6px;
}

/* Scroll for Date Picker */
.floatDatePicker {
  position: fixed;
  top: 110px;
  right: 50px;
  z-index: 1000;
  max-width: 200px;
  background: #fff;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

